h1{
    align-items: center;
    display: flex;
    justify-content: center;
}

.contenedor{
display: flex;
    flex-direction: column;
}

.botonesOpciones{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.mensajeError{
/* padding: 10px; */
background-color: #F45B69;
width: 235px;
    display: block;
    margin-top: 10px;
}
#contra{

    display: flex;
}
.atras, .cerrarSesion{
    margin-top: 58px;
    margin-left: 49vw;

}
#saldoCliente{
    margin-top: 10px;
    margin-left: 50vw;

}
.bienvenido{

    margin-top: 50px;
}
#titulo{
    text-align: center;
    margin-top: 30px;

}
#opcionesCajero{
margin-top: 50px;

}
#cerrar{

    margin-left:-49px;

}